header{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

header h1{
    margin:1.5em 0;
}

header button {
    width: 3em;
    height: 3em;
    margin: 3.5em 0;
    background-color: transparent;
    border: none;
}